USE [master]
GO
/****** Object:  Database [USUARIODATOS]    Script Date: 7/09/2023 18:26:17 ******/
CREATE DATABASE [USUARIODATOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'USUARIODATOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\USUARIODATOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'USUARIODATOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\USUARIODATOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [USUARIODATOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [USUARIODATOS]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 7/09/2023 18:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](128) NOT NULL,
	[NombreCompleto] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Edad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [NombreUsuario], [Contraseña], [NombreCompleto], [Email], [Edad]) VALUES (1, N'JeffBigg', N'jeff123', N'Deivis Soria', N'jeff@gmail.com', 30)
INSERT [dbo].[Usuarios] ([ID], [NombreUsuario], [Contraseña], [NombreCompleto], [Email], [Edad]) VALUES (2, N'pepe12', N'pepito123', N'pepe rodriguez', N'pepe@gmail.com', 22)
INSERT [dbo].[Usuarios] ([ID], [NombreUsuario], [Contraseña], [NombreCompleto], [Email], [Edad]) VALUES (3, N'deivis aranda', N'deivis2', N'deivi22', N'deivis@gmail.com', 56)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
